@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>Home</PageTitle>

<div id="three-container"></div>

<div class="vh-100 d-flex justify-content-center align-items-center overlay-text">
    <div class="text-center">
        <h1>Hey, I'm Joey</h1>
        <h3>This will be a place for my work!</h3>
    </div>
</div>




@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("initShaderGradient");
        }
    }
}
