@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment HostEnvironment
@inject IJSRuntime JS

<div class="@CanvasId"></div>

@code {
    private const string CanvasId = "fullscreen-canvas";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var isDev = HostEnvironment.IsDevelopment();
            var jsId = isDev ? "initThree" : "initComingSoon";
            jsId = "initComingSoon";
            await JS.InvokeVoidAsync(jsId, CanvasId, isDev);
        }
    }
}