@page "/"
@using joey_rieg.github.io.Components
@inject IJSRuntime JsRuntime

<PageTitle>Home</PageTitle>

<div class="panels">
    <ImagePanel Title="Career" Description="This is what I do at work" ImageUrl="images/img1.webp" />
    <ImagePanel Title="Photography" Description="I take photos" ImageUrl="images/img2.webp" />
    <ImagePanel Title="Programming" Description="I type stuff that executes (most of the time)" ImageUrl="images/img3.webp" />
</div>

