@page "/"

<PageTitle>Home</PageTitle>

<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
    <h1>Hey, I'm Joey</h1>
    <h3>This will be a place for my work!</h3>
    </div>
</div>
