@page "/"
@inject IJSRuntime JS

<div class="@CanvasId"></div>

@code {
    private const string CanvasId = "fullscreen-canvas";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initThree", CanvasId);
        }
    }
}